{% extends 'components/base.html' %}

{% block main %}
<div class="dashboard-container">
    {% include 'components/sidebar.html' %}

    <main class="dashboard-main-content">
        
        <h2 class="section-title text-start mb-2" style="color: var(--color-pink);">Anonymous Confessionals</h2>
        <p class="lead text-muted mb-4">Share your truth without fear of judgment. You are not alone.</p>

        <div class="row">
            <div class="col-lg-8">
                {% if confessions %}
                    {% for confession in confessions %}
                    <div class="card-custom mb-4">
                        <h4 class="card-title-main" style="color: var(--color-teal);">{{ confession.title }}</h4>
                        <small class="text-muted">Posted at {{ confession.create_at }}  | {% if confession.is_anonymous %} Anonymous User {% else %} {{ confession.user.username }} {% endif %}</small>
                        <p class="mt-2">{{ confession.content }}</p>
                        <div class="d-flex justify-content-between align-items-center mt-3">
                        <span class="badge bg-secondary">#{{ confession.topic }}</span>
                            <div>
                                <i class="fas fa-heart text-danger me-2"></i> 15 Supports
                                <i class="fas fa-comment ms-3 me-2" style="color: var(--color-teal);"></i> 7 Replies
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    No Confessions...
                {% endif %}
            </div>

            <div class="col-lg-4">
                <div class="card-custom" style="background-color: var(--color-accent-soft);">
                    <h4 class="h5 mb-3" style="color: var(--color-pink);"><i class="fas fa-pencil-alt me-2"></i> Post Your Confession</h4>
                    <form method="POST">
                        {% csrf_token %}

                        {{ form.title }}
                        {{ form.title.errors }}

                        {{ form.content }}
                        {{ form.content.errors }}

                        {{ form.topic }}
                        {{ form.topic.errors }}

                        <div class="form-check mb-3">
                            {{ form.is_anonymous }}
                            <label class="form-check-label" for="anonymousCheck">Post Anonymously (Default)</label>
                        </div>
                        <button type="submit" class="btn btn-primary-custom w-100">Publish Confession</button>
                    </form>
                </div>
            </div>
        </div>

    </main>
</div>
{% endblock main %}
